{(header.html)}
    <article class="content">
    <span class="date muted">{{ created }}</span>
    {* content *}
    </article>
    <div class="content also">
    <hr class="featurette-divider">
    <h6 class="also muted">Also read</h6>
    <ul class="blog-post-list unstyled">
        {% for date, ptitle in itersort(posts) do %}
            {% if ptitle ~= title then %}
        <li><span><a href="/{{ptitle}}">{{filename2title(ptitle)}}</a><span class="date"> {{ blogdate(date) }}</span></a></li>
            {% end %}
        {% end %}
        <li><span><a href="/about">My lua micro web framework</a> <span class="date">10.11.2012</span></span></li>
    </ul>


{(footer.html)}
